.login-wrapper
  position absolute
  top 0
  left 0
  bottom 0
  width 100%
  overflow hidden
  background-color #221D41
  background-image url("../../images/backage-login.jpg")
  background-size cover
  .login-title
    position absolute
    width 550px
    top -100px
    left -60px
    h1
      color #ffffff
      font-size 40px
  .login-from
    position absolute
    top 50%
    margin-top -100px
    width 300px
    right 200px
    padding 20px 15px 10px
    border-radius 5px
    background-color rgba(0,100,255,.8)
    .login-form-button
      width 100%
